---
layout: default
title: Done is better than perfect
page-title: 屈陆胜的个人博客
home-title: Done is better than perfect
description: The most regrettable thing in life is that you could have done it but did not do it, boy, follow your heart a little bit, walk their own small road, no regrets!
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="post-list">
      {% include posts_paginator.html %}
    </ul>
</main>
{% include pageNav.html %}
{% include footer.html %}
